body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

footer {
    background-color: #f8f9fa;
    padding: 10px 20px;
    text-align: center;
    font-size: 0.9em;
    border-top: 1px solid #e7e7e7;
    margin-top: auto;
}

footer .impressum {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #880033;
}

p {
    text-align: center;
}

strong {
    color: #880033;
}

em {
    color: #880033;
}

textarea {
    width: calc(100% - 20px);
    padding: 10px;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

div.topic-position-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button.suggest-topic-button {
    background-color: #163c00;
    color: #fff;
}


.inline-block {
    display: flex;
    margin-right: 10px;
    margin-top: 0;
    align-items: center;
}

.text-align-left {
    text-align: left;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

button#add-topic-position-button{
    background-color: #163c00;
    color: #fff;
}

button#submit-button {
    background-color: #880033;
    color: #fff;
}

button.recalculate-button {
    background-color: #575b61;
    color: #fff;
}

div.party-box {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

div.party-box h3 {
    display: inline-block;
    font-family: Arial, sans-serif;
}

div.party-box h3.float-right {
    float: right;
    margin-right: 10px;
}

div.party-box h4 {
    font-family: Arial, sans-serif;
    display: inline-block;
}

div.party-box h4.float-right {
    float: right;
    margin-right: 10px;
}

div.party-box p {
    font-family: Arial, sans-serif;
}

div.party-box a {
    margin-right: 10px;
    font-family: Arial, sans-serif;
}